<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">

<form method="POST" action="/login"
 class="bg-white p-8 rounded-xl shadow w-96">

 <%- include('./flash.ejs') %>

  <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>

  <input name="username" placeholder="Username"
   class="border w-full p-2 mb-3 rounded">

  <div class="mb-4">
    <input id="password" type="password" name="password" placeholder="Password"
     class="border w-full p-2 rounded">
    <button type="button" id="togglePassword"
      class="mt-2 text-sm text-blue-600 hover:text-blue-800">
      Show Password
    </button>
  </div>

  <button class="bg-green-600 w-full text-white py-2 rounded hover:bg-red-700">
    Login
  </button>

  <br>
  <br>

  <a href="/user/reset-password" class="bg-red-600 w-full text-white p-2 rounded hover:bg-red-700">
    Reset Password
  </a>

  <br>
  </a>
</form>
<br>

<script>
  const passwordInput = document.getElementById("password");
  const togglePasswordButton = document.getElementById("togglePassword");

  if (passwordInput && togglePasswordButton) {
    togglePasswordButton.addEventListener("click", () => {
      const isHidden = passwordInput.type === "password";
      passwordInput.type = isHidden ? "text" : "password";
      togglePasswordButton.textContent = isHidden ? "Hide Password" : "Show Password";
    });
  }
</script>
</body>
</html>
